.specimen {
  margin: 300px auto 0;
  width: 600px;
  min-height: 200px;
  background-color: rgb(11, 80, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.animate-on-click {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.animate-on-click .input {
  display: none;
}

.animate-on-click font {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transform: translateX(-20px);
}

.element {
  background-image: url('./images/heart.png');
  width: 100px;
  height: 100px;
  background-size: 2900px 100px;
}

.input:checked ~ .element {
  animation: heartAnimation 2s steps(29, jump-none) forwards;
}

.input:checked ~ font {
  color: #fa335b;
}

@keyframes heartAnimation {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -2800px 0px;
  }
}