* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: relative;
  width: 100%;
}

.box {
  float: left;
  width: 450px;
  padding: 5px;
}

.box-img {
  width: 100%;
}

.box-img img {
  width: 100%;
  border-radius: 4px;

}