:root {
  --body-bg: #000;
  --border-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-bg);
  overflow: hidden;
}

#perspective {
  /* 景深 */
  perspective: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#center-axis {
  /* 设置3D场景 */
  transform-style: preserve-3d;
  position: relative;
}

#center-axis img {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  border: 10px solid var(--border-color);
  border-radius: 8px;
  user-select: none;
  -webkit-user-drag: none;
}